.aboutUs{
    background-color: #91FB89;
    box-sizing: border-box;
    display: flex;
    flex-direction:column;
    height: 600px;
    width: auto;
    margin: auto;
    text-align: center;
    font-weight: normal;
}

#ourName, #story{
    margin:10px;
    text-align: left;
    margin-left: 10px;
}

