.footer{
    background-color: #000D1B;
    box-sizing: border-box;
    font-size: larger;
    text-align: center;
    bottom:0px;
    height:100px;
    width: 100%;

}

section{
    color: white;
    margin-top: 20px;
}

