.header{
    background-color: #000D1B;
    display:flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 0 0rem;
    box-sizing: border-box;
}

#links{
    display:flex;
    box-sizing: border-box;
}

#links a{
    display: flex;
    align-items:center;
    justify-content: center;
    color: white;
    box-sizing: border-box;
    min-width: 40px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

span{
    padding-left: 20px;
}

img {
    width: 90px;
    height: 90px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
}
