
#sports {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    background-color: #000D1B;
    text-align: center;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
    border-style: none;
    box-sizing: border-box;
    border-radius: 10px;
    width: 300px;
}

#email, #password{
    background-color: rgb(197, 251, 213);
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 30px;
    padding: 25px;
    font-weight: bolder;
    font-size: medium;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-color: #1FFF00;
    box-sizing: border-box;
    width: 300px;
    height: 30px;
}

fieldset{
    border-radius: 10px;
    border-color: #000D1B;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 60px;
    margin-bottom: 40px;
    padding: 0;
    width: 400px;
    height: 300px;
}
legend{
    color: #1FFF00;
    font-size: 30px;
    font-weight: 500;
}