label {
    color: #000D1B;
    background-color: rgb(197, 251, 213);
    text-align:center;
    line-height: 20px;
    margin: 80px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

.signUp {
   position:absolute;
   bottom: 300px;
   left: 400px;
   width: 300px;
   padding:20px;
   text-decoration: none;
   color:#000D1B;
   border-style: none;
   border-radius: 20px;
   font-size: small;
   font-weight: bold;
   background-color: rgb(197, 251, 213);
}