.mainPage {
    display: flex;
    height: fit-content;
    flex-direction: row;
    justify-content:space-evenly;
    position:sticky;
    background-color: white;
}

section a{
    color: black;
    background-color: rgb(197, 251, 213);
    border-radius: 30px;
    text-align:center;
    line-height: 100 px;
    margin: 30px;
    padding: 150px;
    text-decoration: none;
    font-weight: bolder;
    font-size:large;
}