.scheduleText {
    background-color: rgb(218, 248, 231);
    border-style: solid;
    border-color: rgb(193, 227, 193);
    margin: 10px 0;
    padding: 200px;
}

#all-matches, #by-location, #by-skill-level, #by-date, #by-time{
    color: white;
    background-color: black;
    text-align:center;
    line-height: 20px;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
    border-style: none;
    border-radius: 10px;
}
